
.menu_box li{
		list-style-type: none;
		display: inline;
		margin-left: 5px;
		font-family:'Roboto', sans-serif;
		font-size:15px;
		padding-bottom:18px;
		transition: 0s;
		
   }

.menu_box li:hover{
	 	border-bottom:2px solid #23B2E7;
	 	padding-bottom:18px;
		cursor:pointer;
		transition: 0s;
	 }

.content_box{
	position: relative;
	/* border:1px solid #c4c4c4; */
	width:930px;
	height:56px;
	margin:auto;
}

.menu_box{
	/*position: absolute;*/
	margin:auto;
	width: 100%;
	height: 56px;
	left: 0px;
	top: 0px;

	background: #FFFFFF;
	/*box-shadow: 0px 10px 22px rgba(117, 206, 240, 0.25);*/
	
	
	position:relative;
	z-index:99999;
}



.img_logo{
	height:28px;
	/* margin-top:12px; */

}

.logo_box{
	border-right:2px solid #606060;
	/* height:50px; */
	margin-top:12px;
	width:60px;
	display: inline-block;
}

.text_logo{
	/* border:1px solid black; */
	position: absolute;
	height:25px;
	margin-top:14px;
	margin-left:10px;
	font-family:'Roboto', sans-serif;
	font-size:15px;
	display: inline-block;
	line-height: 0.8;
}

.menu_item{
	/* border:1px solid black; */
	display: inline-block;
	float: right;
	margin-top:15px;
}

.stick{
	border:1px solid white;
	background:#fff;
	padding-bottom:0px;
	z-index:9999999;
	box-shadow: 0px 10px 22px rgba(117, 206, 240, 0.25);
}

/*.stick:hover{
	background:#fff;
	padding-bottom:20px;
	box-shadow: 0px 10px 22px rgba(117, 206, 240, 0.25);
}*/





.tech_box{
width:930px;
margin:auto;
padding-top:20px;
}

.sub_menu{
  display:none;
  float:right;
  height: 20px;
}

.sub_menu li{
  list-style-type: none;
  display: inline;
  margin-left: 5px;
  font-family:'Roboto', sans-serif;
  font-size:10px;
  padding-bottom:0px;
	transition: 0s;
}

.sub_menu li:hover{
  border-bottom:2px solid #23B2E7;
  padding-bottom:0px;
  cursor:pointer;
	transition: 0s;
}

.menu_active, .sm_li_active{
  border-bottom:2px solid #23B2E7;
}

.sm_li_active, .sm_active{
  display:inline-block;
}

