@import "menu.css";
@import "footer.css";
@import "fonts/fonts.css";

*{
	margin:0px;
	padding:0px;
	transition: 0.5s;
}

html{
	font-size:15px;
}

a{
	text-decoration: none !important;
	color:#6A6A6A !important;
}

p{
	margin:0px;
	font-family:'Roboto', sans-serif;
	font-size:15px;
	color:#6A6A6A;
}

h2{
	margin:0px;
  font-size:25px;
  font-weight: 500;
  font-family:'Roboto', sans-serif;
	color:#6A6A6A;
	line-height: 1.3;
}

h3{
	margin:0px;
  font-size:20px;
  font-weight: 500;
  font-family:'Roboto', sans-serif;
	color:#6A6A6A;
	/* line-height: 0.5; */
}

hr{
	border: none; /* Убираем границу для браузера Firefox */
    color: rgba(35, 178, 231, 0.2); /* Цвет линии для остальных браузеров */
    background-color: rgba(35, 178, 231, 0.2); /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
}

table {
    border-collapse: separate;
    border-spacing: 0px;
}



.fixed{
	position:fixed;
	z-index:999999;
}

.back_item{
display:inline-block;
}




.dot:before{
	content: url(about/dot.png);
}


.inline_block{
display:inline-block;
}

.content{
	width:930px;
	margin:auto;
	padding-top:30px;
	padding-bottom:60px;
}

.mt-0.content{
	padding-top:0px;
}


.bg_text{
  border-radius:5px;
  background:#F5F5F5;
  box-shadow: 0px 10px 22px rgba(35, 178, 231, 0.25);
  padding:35px;
  margin-bottom:20px;
}

.margin{
  margin:auto;
  margin-top:360px;
  width:800px;
}

.slider_main{
	border-radius:5px;
	margin-top:0px;
	margin-top:30px; 
	/*border:1px solid red;*/
	width:930px;
	height:330px;
	overflow:hidden; 
	position:relative; 
}

.slider_main .cont_btn{
	float:right;
	position:absolute;
	/* border:2px solid green; */
	margin-left:850px;
	margin-top:260px;
	z-index:9999;
}


.title_item{
	margin-top:50px;
	margin-bottom:20px;
	padding-bottom:30px;
	border-bottom:1px solid rgba(35, 178, 231, 0.2);
	margin-left:30px;
	margin-right: 30px;
}



/* style index start*/

.left_box{
	display: inline-block;
	height: 156px;
	width: 458px;
	background: #F4F4F4;
	border: 1px solid #E8E8E8;
	box-sizing: border-box;
	border-radius: 5px;
	transition: 0.5s;

}

.right_box{
	float:right;
	display: inline-block;
	border: 1px solid black;
	height: 156px;
	width: 458px;
	background: #F4F4F4;
	border: 1px solid #E8E8E8;
	box-sizing: border-box;
	border-radius: 5px;
	transition: 0.5s;
}

.effect:hover{
box-shadow: 0px 10px 22px rgba(35, 178, 231, 0.4);
}




.left_box > .bg_img{
	margin-left:40px;
	margin-top:30px;
	width:96px;
	height:96px;
	background-image: url("../img/emblem_of_russia.png");
	background-size:110px;
	background-position: center;
	display:inline-block;
}

.left_box > .discr{
	display:inline-block;
	width: 257px;
	font-weight: 500;
	line-height: 1.3;
	vertical-align: top;
	margin-top:30px;
	margin-left:20px;
}

.right_box > .discr{
	/* border:1px solid black; */
	display:inline-block;
	font-weight: 500;
	line-height: 1.3;
	vertical-align: top;
	margin-top:40px;
	margin-left:20px;
	width:250px;
}

.right_box > .bg_img{
	/* border:1px solid black; */
	margin-left:40px;
	margin-top:35px;
	width:90px;
	height:85px;
	background-image: url("../img/global_2.png");
	background-size:90px;
	background-position: center;
	display:inline-block;
}


.license_slider{
	border-radius:5px;
	height:193px;
	background: #F4F4F4;
	border: 1px solid #E8E8E8;
	margin-top:30px;
}

.text_slider{
	position: absolute;
	height:193px;
	width:500px;
	z-index:100;
	float: left;
}

.bg_img_slider{
	float:right;
	width:590px;
	height:193px;
	background-image: url("../img/_license_img.png");
	background-size:590px;
	background-position: center;
	display:inline-block;
}


.cont_text{
	padding:20px;
	padding-left:0px;
	height:110px;
	/* overflow:hidden; */
	margin-left:20px;
	/*border:1px solid black;*/
}

.cont_btn{
	width:50px;
	display: inline-block;
	padding-left:20px;
}

.left_btn{
	background-image: url("../img/left_btn.png");
	background-size:20px;
	width:20px;
	height:20px;
	display: inline-block;
	cursor:pointer;
}

.right_btn{
	background-image: url("../img/right_btn.png");
	background-size:20px;
	width:20px;
	height:20px;
	display: inline-block;
	cursor:pointer;
}


.service{
margin-top:30px;
margin-left:30px;
}

.news{
margin:auto;
}

.margin-top{
width:870px;
margin-top:250px;
}

.box_news{
	width: 300px;
	height: 525px;
	background: #F4F4F4;
	border: 1px solid #E8E8E8;
	box-sizing: border-box;
	border-radius: 5px;
	display: inline-block;
	margin:auto;
	vertical-align: top;
	overflow:hidden;
}

.gradient{
	/* border:1px solid black; */
	position:absolute; 
	margin-top:290px;
	width:298px;
	height:53px;
	background-image:url("../img/gradient.png");
}

.mr-l{
	margin-left:8px;
}


.img_news{
height: 180px;
border-radius:5px 5px 0px 0px;
overflow:hidden;
}

.text_news{
padding:20px;
}


.box_list_news{
	border-radius:5px 5px 5px 5px;
	border: 1px solid #E8E8E8;
	background: #F4F4F4;
	padding:30px;
	box-shadow: 0px 10px 22px rgba(35, 178, 231, 0.25);
}




.box_contacts{
	margin-top:30px;
	margin-left:30px;
}

.map{
	height: 350px;
	background: #F4F4F4;
	border: 1px solid #E8E8E8;
	box-sizing: border-box;
	border-radius: 5px;
	overflow:hidden;
}

/* style index end*/


.tbl_documents {
	padding: 0px;
	margin: 0px;
	border-bottom: 1px dotted #cdcdcd;
	border-left: 1px dotted #cdcdcd;
}

.tbl_documents td{
	padding: 0px;
	margin: 0px;
	border-top: 1px dotted #cdcdcd;
	border-right: 1px dotted #cdcdcd;
	padding: 15px;
}

.tbl_documents td.ico{
	min-width: 100px; 
	text-align: center; 
	vertical-align: middle;
}
.tbl_documents td.ico:hover{
	/* background: #e6e6e6; */
	cursor: pointer;
}

.lightTable td{
	border: 1px dotted #cdcdcd !important;
	padding:10px;
}

.lead_box{
	margin-left:20px;
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:1px solid rgba(35, 178, 231, 0.2);
}

.lead_img{
	background-image: url("../img/right_btn.png");
	background-size:20px;
	display:inline-block;
}

.lead_text{
	line-height: 1.3;
	display:inline-block;
	vertical-align:bottom;
	margin-left:20px;
}

.item{
/*   list-style-type: none; */
	width:450px;	
  	display:none; 
  	/*border:1px solid black;*/
}


@keyframes opacity_right {
	from {opacity: 0; margin-left:10px;}
	to {opacity: 1; margin-left:0px;}
}

@keyframes opacity_left {
	from {opacity: 0; margin-left:-10px;}
	to {opacity: 1; margin-left:0px;}
}

.item_slide{
/*   list-style-type: none; */
	/* width:930px;	 */
  	/*display:none; */
  	/*border:1px solid black;*/
  	transition: 1.1s;
}

@keyframes opacity_top {
	from {opacity: 0; margin-top:10px;}
	to {opacity: 1; margin-top:0px;}
}

@keyframes opacity_bottom {
	from {opacity: 0; margin-top:-10px;}
	to {opacity: 1; margin-top:0px;}
}


.slide_main_content{
	/* border:2px solid green; */
	position:absolute;
	margin-left:500px;
	padding-top:40px;
	width:400px;
	height:250px;
}

.q{
	color:#fff;
	margin-bottom:25px;
}

.line-height{
	line-height: 1.3;
}





